.sidebar {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  display: grid;
  width: 0px;
  background-color: #ffffff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25);
  color: black;
  font-size: 24px;
}

.hideSidebar {
  width: 0px;
}

.showSidebar {
  display: grid;
  width: 300px;
}

.sidebar a {
  color: #000000;
  padding: 15px 0;
}

.main-page {
  margin-left: 0px;
  transition: margin-left 0.5s; /* If you want a transition effect */
}

.add-margin {
  margin-left: 300px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.sidebar-user-profile {
  max-height: 200px;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.sidebar-user-profile small {
  padding-left: 10px;
}

.sidebar-logo-container {
  text-align: center;
}

.sidebar-logo-container img {
  width: 200px;
}


@media (max-width: 650px) {
  .add-margin {
    margin-left: 0px;
  }
}